@use "components/all";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // transition: background-color 0.25s, color 0.25s !important;
    text-decoration: none !important;
    font-family: sans-serif;
}

body {
    height: 100vh !important;
    height: 100svh !important;
    // overflow-y: hidden;
    min-width: 780px;
    background-color: #222;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background-color: #222;
    }

    &-thumb {
        background-color: #555;
        border-radius: 10px;

        &:hover {
            background-color: rgb(155, 155, 155);
        }
    }
}
