.base-section {
    .game-base {
        background-color: #0e0e0e;
        // border: 2px solid white;
        width: 600px;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 4px;
    }

    .red-lines {
        // border: 1px solid red;
        width: 600px;
        position: absolute;
    }
}
