.end-screen-section {
    // border: 1px solid red;
    width: 900px;
    height: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 4;
    box-shadow: 0 0 1000px 200px rgba(0, 0, 0, 0.35),
        inset 0 0 40px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #333;
    display: flex;
    flex-flow: column nowrap;
    gap: 70px;

    .end-text {
        font-size: 80px;
    }

    .end-btn {
        border: 1px solid rgb(0, 0, 0);
        padding: 20px 40px;
        border-radius: 6px;
        font-size: 40px;
        cursor: pointer;
        transition: background-color 0.15s, transform 0.15s;

        &:hover {
            background-color: #3a3a3a;
            transform: scale(1.02);
        }
        &:active {
            transform: scale(1);
            background-color: #303030;
        }
    }
}
