.game-cell {
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #222;
    transition: background-color 0.3s;
}
