.app {
    width: 100%;
    height: 100vh;

    & > * {
        // border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-section {
        height: 13%;
    }

    .base-section {
        height: 79%;
    }

    .end-screen-section {
        position: absolute;
    }

    .footer-section {
        height: 8%;
    }
}
